<div class="container">
  <div class="row">
    <div class="col">
      <h2>Your Hideouts are:</h2>
      <ul>
        <% current_user.hideouts.each do |hideout| %>
          <div>

            <% if hideout.cover_picture.attached? %>
              <%= cl_image_tag hideout.cover_picture.key%>
            <% else %>
            <img src="https://media.istockphoto.com/id/1629004972/fr/vectoriel/casque-et-%C3%A9quipement-s%C3%A9curit%C3%A9-et-protection-ing%C3%A9nieur-symboles-de-construction-de-travail.jpg?s=612x612&w=0&k=20&c=Ysj5EhRTeeC9oZ16IejpmWiNX0Jwx_oOd6FuSDQb-OQ=" alt="Work in progess">
            <% end %>
            <li><%= hideout.title %></li>
            <li><%= hideout.overview %></li>
            <li><%= hideout.price %></li>
            <%= link_to "Modifier", edit_hideout_path(hideout), class: "btn btn-primary" %>
            <% confirm = hideout.bookings  ? "You can't delete a Hideout if their is reservations on it"  : "Are you sure?" %>
            <%= link_to "Supprimer", hideout_path(hideout) ,data: {turbo_confirm: confirm, turbo_method: :delete}, class: "btn btn-danger" %>
          </div>
          <br>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
       
              <%= link_to "Accept", accept_hideout_booking_path(hideout_id: hideout.id, id: booking.id), data: {turbo_method: :patch} , class: "btn btn-success" %>
              <%= link_to "Decline", decline_hideout_booking_path(hideout_id: hideout.id, id: booking.id), data: {turbo_method: :patch}, class: "btn btn-danger" %>
              <% end %>
            </div>
            <br>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Your Reservations are:</h2>
      <ul>
        <% current_user.bookings.each do |booking| %>
          <div>
            <h4><%= booking.hideout.title %></h4>
            <li>Start Date: <%= booking.date_start %></li>
            <li>End Date: <%= booking.date_end %></li>
            <li>Status: <%= booking.status.capitalize %></li>
            <li>Price: <%= booking.price %>€</li>
          </div>
          <br>
        <% end %>
      </ul>
    </div>
  </div>
</div>
