<div class="container-local">
  <h2>Repères</h2>
  <div class="cards-hideouts">
    <% @hideouts.each do |hideout| %>
      <%= link_to hideout_path(hideout), class: 'link_to' do %>
      <div class="card-hideout">
        <div class="card-img">
          <%= cl_image_tag hideout.cover_picture.key%>
        </div>
        <div class="card-body">
          <div class="overflow-body">
            <h2><%= hideout.title.split(";").first %></h2>
            <p><%= hideout.overview %></p>
          </div>
          <div>
              <p><%= hideout.price %>€</p>
          </div>
        </div>
      </div>
      <%end%>
    <% end %>
  </div>
</div>
