<div class="container-local">
  <h2>Repères</h2>
      <!-- début de la barre de recherche-->
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: search_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Rechercher un repère..."
            %>
          <%= submit_tag "rechercher", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
      <!-- fin de la barre de recherche-->
<div class="cards-hideouts">
    <% @hideouts.each do |hideout| %>
      <%= link_to hideout_path(hideout), class: 'link_to' do %>
      <div class="card-hideout">
        <div class="card-img">
          <%= cl_image_tag hideout.cover_picture.key%>
        </div>
        <div class="card-body">
          <div class="overflow-body">
            <h2><%= hideout.title.split(";").first %></h2>
            <p><%= hideout.overview %></p>
          </div>
          <div>
              <p><%= hideout.price %>€</p>
          </div>
        </div>
      </div>
      <%end%>
    <% end %>
  </div>
</div>
