<div class="container">
  <div class="row">
    <div class="col">
    <h2> NEW PAGE </h2>
    <%= simple_form_for @hideout do |f| %>
      <%= f.error_notification %>
      <%= f.input :title,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "title" } %>
      <%= f.input :address,
                  required: true,
                  input_html: { autocomplete: "address" } %>
      <%= f.input :overview,
                  required: true,
                  input_html: { autocomplete: "overview" } %>
      <%= f.input :price,
                  required: true,
                  input_html: { autocomplete: "price" } %>
      <%= f.input :cover_picture, as: :file,
                  required: true %>
      <%= f.input :pictures, as: :file, input_html: { multiple: true },
                  required: false %>
      <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
