<div class="container">
  <div class="row">
    <div class="col">
    <%= simple_form_for @hideout do |f| %>
      <%= f.error_notification %>
      <%= f.input :title,
                  label: "Titre",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Titre" } %>
      <%= f.input :address,
                  label: "Adresse",
                  required: true,
                  input_html: { autocomplete: "Adresse" } %>
      <%= f.input :overview,
                  label: "Déscription",
                  required: true,
                  input_html: { autocomplete: "Description" } %>
      <%= f.input :price,
                  label: "Prix",
                  required: true,
                  input_html: { autocomplete: "Prix" } %>
      <%= f.input :cover_picture, as: :file,
                  label: "Photo de Présentation",
                  required: true %>
      <%= f.input :pictures, as: :file,
                  label: "Photos de Déscription",
                  input_html: { multiple: true },
                  required: false %>
      <%= f.button :submit, class: "btn btn-primary", value: "Enregistrer" %>
      <% end %>
    </div>
  </div>
</div>
