<div class="container-local">
  <h2> SHOW PAGE </h2>
          <img src="<%=  @hideout.user.picture %>" alt="avatar" class ="avatar-large">
        <p>Pour plus d'informations, vous pouvez contactez <%=@hideout.user.nickname %> : <%=@hideout.user.email %></p>
  <div class="show-hideout">
    <div>
      <img src="<%=  @hideout.cover_picture %>" alt="Cover Image">
    </div>
    <div class=show-hideout-content>
      <div>
        <h2><%= @hideout.title %></h2>
        <p><%= @hideout.address %></p>
        <p><%= @hideout.overview %></p>
      </div>
      <div>
        <p class="text-right"><%= @hideout.price %> €</p>
        <%= link_to "Réserver", new_hideout_booking_path(@hideout), class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
